* {
  margin: 0px;
  padding: 0px;
}

.grid-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 12% 10% 5fr 1fr;
  gap: 10px 20px;
  grid-template-areas:
    "header header header header"
    "nav-bar nav-bar nav-bar nav-bar"
    "Main-content Main-content Main-content Main-content"
    "footer footer footer footer";
    
}
.header { grid-area: header; }
.nav-bar { grid-area: nav-bar; }
.Main-content { grid-area: Main-content; }
.footer { grid-area: footer; }

.header{
  background-color: rgb(255, 255, 255);
  display: flex;
}
.header #logo{
  font-size: 4em;
  font-family: 'Amatic SC', cursive;
  margin: auto;
}

.nav-bar{
  background-color: rgb(70, 70, 70);
  display: flex;
  
  
   
}
.nav-bar div{
  
  text-align: center;
  display: inline;
  margin: auto;
  
}
  
.nav-bar a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-left: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
  font-size: 2em;
  background-color: rgb(70, 70, 70);
  padding: 1px;
}

.Main-content{
  background-color: rgb(255, 174, 0);
  margin: 0rem 1rem;
}

.footer{
  background-color: rgb(58, 58, 58);
  width: 100vw;
}