
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(102, 200, 230);
  
}

.logo{
  color: rgb(250, 250, 250);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  color: rgb(250, 250, 250);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 0.875rem;
  padding: 0.5rem;
}
#current-page{
 border: 2px solid rgb(252, 251, 251);
 
 
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: rgb(250, 250, 250);
  margin: 5px;
  transition: all 0.3s ease;
}

body{
  overflow-x: hidden;
}






@media screen and (max-width:768px){
 
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgba(3, 3, 3, 0.425);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translatex(100%);
    transition: transform 0.5s ease-in;
    width: 50%;
    z-index: 1;
    
  }

  .nav-links li{
    opacity: 0;
  }
  .burger{
    display: block;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
      opacity: 0;
      transform: translateX(50px);
  }
  to{
      opacity: 1;
      transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}


/*css för sidan project*/
body{
  background-image: url(https://www.wallpaperflare.com/static/8/169/216/firewatch-digital-art-birds-forest-wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.content{
  width: 80%;
  margin: auto;
  background-color: rgba(5, 5, 5, 0.438);
  backdrop-filter: blur(5px);
  z-index: -1;
  margin-top: 5rem;
  
}
.grid-container{
  display: grid;
  width: 80%;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  grid-auto-rows: 250px;
  grid-auto-columns: 200px;
  z-index: 1;
  
}

.project1{
  background-color: rgb(173, 171, 171);
  text-align: center;
  font-size: 1.25rem;
  border: 3px solid rgb(252, 252, 252);
  
  
}
.project2{
  background-color: rgb(173, 171, 171);
  border: 3px solid rgb(252, 252, 252);
 
}
.project3{
  background-color: rgb(173, 171, 171);
  border: 3px solid rgb(252, 252, 252);
  
}
.project4{
  background-color: rgb(173, 171, 171);
  border: 3px solid rgb(252, 252, 252);
 
}

img{
  height: 90%;
  width: 90%;
}
