*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body, html{
  height: 100%;
  display: grid; 
  background-color: rgb(236, 200, 200);
}

.container{
  background-color: rgba(0, 0, 0, 0.247);
  margin: auto;
  position: relative;
  height: 600px;
  width: 62vw;
  border-radius: 1.2%;

}

.window{
  background-color: rgb(0, 0, 0);
  display: flexbox;
  position: absolute;
  width: 26vw;
  height: 590px;
  top: 5px;
  left: 5px;

  
}

.window-content{
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 50px;
  font-size: 30px;
  padding: 5px;
  
}

input{
  width: 15vw;
  height: 2rem;
}


#sendbtn{
  margin-top: 50px;
  width: 14.4vw;
  height: 50px;
  font-weight: bold;
  color: white;
  font-size: 1rem;
  background-color: rgb(94, 94, 94);
  
}
#sendbtn:hover{
  transition: ease-in 0.5s;
  background-color: green;
  cursor: pointer;
}



#backbtn{
  margin-top: 50px;
  width: 14.4vw;
  height: 50px;
  font-weight: bold;
  color: white;
  font-size: 1rem;
  background-color: rgb(94, 94, 94);
}

#backbtn:hover{
  transition: ease-in 0.5s;
  background-color: rgb(202, 46, 46);
  cursor: pointer;
}

.output-box{
  background-color: rgb(0, 0, 0);
  position: absolute;
  width: 34vw;
  height: 590px;
  top: 5px;
  right: 5px;
  text-align: center;
  color: white;
}
#outputmsg{
  background-color: rgb(122, 122, 122);
  height: 350px;
  color: white;
  border-radius: 2.5%;
  margin-top: 10px;
  text-align: center;
  white-space:pre-wrap;
  font-size: 1rem;
  
}

@media screen and (max-width:768px){


  .container{
    
    width: 100vw;
    height: 99vh;
    
  }

  .window{
    width: 48vw;
    height: 97vh;
    top: 0.2rem;
    left: 0.2rem;
  }

  .output-box{
    width: 52vw;
    height: 97vh;
    top: 0.2rem;
    right: 0.2rem;

  }
  input{
    width: 35vw;
    height: 2rem;
  }

  #backbtn{
    width: 25vw;
  }
  #sendbtn{
    width: 25vw;
  }
}

